runners:
 AWS-runner:
  image: ip-192-168-102-216:5000/ubuntu-vitis-2020-1
  
jobs:   
 build_run_sim:
  resource_spec: small 
  runner: AWS-runner
  type:
   build: hardware
  current_working_directory: /tools/Xilinx/Vivado/2020.1/workspace/project_ci_sim
  output:
   artifact:
    - ./project_ci_sim.xpr
    - ./project_ci_sim.cache
    - ./project_ci_sim.hw
    - ./project_ci_sim.ip_user_files
    - ./project_ci_sim.sim
    - ./project_ci_sim.srcs 
  steps:
   - run:
      name: Run tcl
      command: |
       source /tools/Xilinx/Vivado/2020.1/settings64.sh
       vivado -mode tcl -source sim.tcl        
      type: miscellaneous    
workflows:
 complete-build-test:
  jobs:
   - build_run_sim
